<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="/fragments/head::base(~{::title},~{::link},~{::script})">
        <title>Dinner</title>
        <link rel="stylesheet" href="/static/css#"/>
        <script src="/static/js#"></script>
    </head>

    <body class="bg-light">
        <nav th:replace="/fragments/body/nav::navbar"></nav>
        <div class="container">
            <header th:replace="/fragments/body/header::base(~{::#headerParam})">
                <span id="headerParam">header param</span>
            </header>
            <section class="container">

                <p th:if="${param.error}">Invalid username or password</p>
                <form th:action="@{/login}" method="post">
                    <p>Username: <input type="text" name="username"/></p>
                    <p>Password: <input type="password" name="password"/></p>
                    <p><input type="submit" value="Login"/></p>
                </form>

                <a href="/signup">signUp</a>

            </section>
            <footer th:replace="/fragments/body/footer::base(~{::#footerParam})">
                <span id="footerParam">footer param</span>
            </footer>
        </div>
    </body>
</html>
