<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/head::base(~{::title},~{::link},~{::script})">
        <title>Dinner</title>
        <link rel="stylesheet" href="/static/css#"/>
        <script src="/static/js#"></script>
    </head>

    <body class="bg-light">
        <nav th:replace="fragments/body/nav::navbar"></nav>
        <div class="container">
            <header th:replace="fragments/body/header::base(~{::#headerParam})">
                <span id="headerParam">header param</span>
            </header>
            <section class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4">

                        <div class="row">
                            <div class="col-3 text-left">로그인</div>
                            <div class="col-9 text-right"><a href="#"><small>비밀번호를 잊어버리셨나요?</small></a></div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <form th:action="@{/login}" method="post">
                                    <input id="username" name="username" type="text" class="form-control"
                                           placeholder="nickname or example@email.com">
                                    <input id="password" name="password" type="password" class="form-control"
                                           placeholder="password">
                                    <div th:if="${param.error}">
                                        <small>닉네임/이메일 혹은 비밀번호를 확인해주세요.</small>
                                    </div>
                                    <br/>
                                    <button type="submit" class="btn btn-dark">Login</button>
                                </form>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-12 text-center">
                                <a href="/signup" class="btn btn-dark">Signup</a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <footer th:replace="fragments/body/footer::base(~{::#footerParam})">
                <span id="footerParam">footer param</span>
            </footer>
        </div>
    </body>
</html>

