<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/head::base(~{::title},~{::link},~{::script})">
        <title>Dinner</title>
        <link rel="stylesheet" href="/css/#"/>
        <script src="/js/#"></script>
    </head>

    <body class="bg-light">
        <nav th:replace="fragments/body/nav::navbar"></nav>
        <div class="container">
            <header th:replace="fragments/body/header::base(~{::#headerParam})">
                <span id="headerParam">header param</span>
            </header>
            <section class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">

                        <div class="row">
                            <div class="col-12 text-center">

                                <div th:text="${username}"></div>
                                <div th:text="${email}"></div>
                                <div th:if="${isOwner}" th:text="${password}"></div>

                                <a th:if="${isOwner}" href="#">수정하기</a>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <footer th:replace="fragments/body/footer::base(~{::#footerParam})">
                <span id="footerParam">footer param</span>
            </footer>
        </div>
    </body>
</html>
