<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head (title)">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title th:text="${title}">Title</title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/css/sidebar.css"/>
        <script src="/js/sidebar.js"></script>
    </head>

    <body>

        <nav th:fragment="nav" class="navbar">
            <button type="button" class="btn btn-dark" onclick="openNav()">menu</button>
            <nav th:replace="fragments::sidebar">sidebar</nav>
            <a href="/" class="navbar-brand">Dinner</a>
            <a href="#" class="btn btn-dark">login</a>
        </nav>


        <header th:fragment="header" class="text-right">header(optional, email-verified-info, etc.)</header>

        <section class="container">
            <article></article>
            <aside></aside>
        </section>

        <footer th:fragment="footer" class="text-center">footer(copyright, etc.)</footer>

    </body>

    <nav th:fragment="sidebar" id="sidebar" class="sidebar text-center">
        <a class="close-btn" onclick="closeNav()" href="javascript:void(0)">&times;</a>
        <a href="#">Magazines</a>
        <ul>
            <li><a href="#"><small>Palm Tree Canteen</small></a></li>
            <li><a href="#"><small>Scene Cho's</small></a></li>
        </ul>
        <a href="#"><small>etc</small></a>
        <hr>
        <a href="#">About</a>
    </nav>

</html>