<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments::head (Dinner)"></head>
    <body class="bg-light">
        <nav th:replace="fragments::nav"></nav>
        <header th:replace="fragments::header"></header>

        <section class="container">

            <article>
                <h1>Dinner</h1>
                <p>This is home of Dinner.</p>
            </article>

        </section>

        <footer th:replace="fragments::footer"></footer>
        <!--custom css/js-->
    </body>
</html>
