<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments::head (Dinner)"></head>
    <body>
        <nav th:replace="fragments::nav"></nav>
        <header th:replace="fragments::header"></header>

        <section class="container">

            <article>
                <h1>Dinner</h1>
                <p>This is home of Dinner.</p>
            </article>

            <aside>
                <h2>table of content</h2>
                <ol>
                    <li>chapter</li>
                </ol>
            </aside>

        </section>

        <footer th:replace="fragments::footer"></footer>
        <!--custom css/js-->
    </body>
</html>